<h1> Your Text Analysis </h1>

<h2>Number of Words:<%= @analyzed_text.count_of_words.to_s %></h2>

<h2>Vowels:<%= @analyzed_text.count_of_vowels.to_s %></h2>

<h2>Consonants:<%= @analyzed_text.count_of_consonants.to_s %></h2>
<% common = @analyzed_text.most_used_letter %>
<h2>Most Common Letter: <%= common[0].to_s.upcase %>, used <%= common[1].to_s %> times</h2>
